@media screen and (min-width: 1143px) {
    .container {
        width: 1143px;
    }

    /** Components */
    .section-title {
        font-size: 36px;
    }

    /* Section Hero */

    .hero {
        padding-top: 319px;
        padding-bottom: 335px;
    }
    .hero-title {
        font-size: 48px;
        margin-bottom: 50px;
    }

    /** Services section  */
    .services {
        padding-top: 110px;
        padding-bottom: 105px;
    }

    .services-text {
        margin: 0 auto 70px;
    }

    .services-item {
        width: 353px;
    }
    /* portfolio */

    .portfolio-item {
        width: 350px;
    }
}
