:root {
  --primary-text-color: #999999;
  --primary-title-color: #323232;
  --secondary-title-color: #ffffff;
  --accent-color: #4985ff;
  --btn-bacground-color: #4985ff;
  --secondary-text-color: #ffffff;
  --background-color: #f6f6f8;
  --subtitle-text-color: #000000;

  --gap: 30px;

  --carts: 3;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
index.htmlD:/GoIT/practice_BC-52/css/styles.css}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Components */

.container {
  width: 1143px;
  padding: 0 15px;
  /* outline: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
}

.grid-list {
  display: flex;
  gap: var(--gap);
}

.grid-item {
  flex-basis: calc((100% - (var(--carts) - 1) * var(--gap)) / var(--carts));
}

.sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  color: var(--secondary-title-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  color: var(--primary-title-color);
}

.section-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--primary-text-color);
}

.section-subtext {
  font-size: 14px;
  line-height: 1.57;
  color: var(--primary-text-color);
}

.subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--subtitle-text-color);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  padding: 13px 36px 15px 36px;
  border: none;
  display: block;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;

  transition: background-color 250ms, box-shadow 250ms, color 250ms;
}

.button:hover {
  background-color: transparent;
  box-shadow: 0px 0px 10px 2px var(--accent-color);
  color: var(--accent-color);
}

/* Section Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.header-link::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: -20px;
  display: block;
  height: 2px;
  width: calc(100% + 40px);
  background-color: var(--secondary-text-color);
  opacity: 0;
  transform: scale(0);
  transition: transform 250ms linear, opacity 200ms ease-in-out;
}

.header-link:hover::after {
  opacity: 1;
  transform: scale(1);
}

.header-list {
  display: flex;
  justify-content: right;
  /*gap: 40px;*/
}

.header-item {
  margin-left: 40px;
}

.header-item:first-child {
  margin-left: 0;
}

.header-link {
  position: relative;
}

/* Section Hero */

.hero {
  padding-top: 319px;
  padding-bottom: 335px;
  background-color: grey;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}

.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.hero-button:hover {
  color: var(--secondary-text-color);
}

/* <!-- Services section --> */
.services {
  padding-top: 110px;
  padding-bottom: 105px;
}

.services-title {
  max-width: 739px;
  margin: 0 auto 32px;
  text-align: center;
}

.services-text {
  max-width: 730px;
  margin: 0 auto 70px;
  text-align: center;
}

.services-icon {
  width: 40px;
  height: 40px;
  fill: var(--accent-color);
}

.services-circle-in {
  border: 1px solid var(--accent-color);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-circle-out {
  border: 1px solid #e0e0e0;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.services-list {
  display: flex;
  gap: 27px;
}

.services-item {
  display: flex;
}

.services-info {
  margin-left: 17px;
  padding-top: 50px;
}

.services-button {
  /* margin-left: auto;
        margin-right: auto;
        margin-top: 55px; */
  margin: 55px auto 0;
}

.services-subtitle {
  margin-bottom: 12px;
}

/*<!--Standarts section-->*/

.standarts {
  padding: 100px 0 70px 0;
  background-color: var(--background-color);
}

.standarts-box {
  display: flex;
  /* outline: solid blue; */
  align-items: center;
  margin-bottom: 90px;
}

.standarts-inf {
  /* outline: solid 3px green; */
  /* background-color: aqua;   */
}

.standarts-line {
  border-top: 1px solid #e0e0e0;
}

.standarts-title {
  margin-bottom: 60px;
}

.standarts-icon {
  fill: var(--accent-color);
  height: 26px;
  width: 30px;
}

.standarts-text {
  margin-bottom: 42px;
}

.standarts-text {
}

.standarts-link {
}

.standarts-img {
}

.standarts-list {
  display: flex;
  margin-top: 70px;
  justify-content: space-evenly;
  /* gap: 100px; */
}

.standarts-item {
  /* outline: 3px solid yellow; */
  width: 104px;
}

.standarts-sts {
  font-size: 36px;
  line-height: 1.47;
  color: var(--subtitle-text-color);
}

.standarts-name {
  margin-top: 17px;
}

.standarts-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* PORTFOLIO SECTION */

.portfolio {
  padding-top: 100px;
  padding-bottom: 85px;
  background-image: linear-gradient(
    to bottom,
    #504dc2 0% 50%,
    #ffffff 50% 100%
  );
}

.portfolio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.potrfolio-title {
  width: 540px;
  color: var(--secondary-title-color);
}

.portfolio-btn {
}

.portfolio-list {
  display: flex;
  gap: 30px;
  padding-bottom: 85px;
  border-bottom: 1px solid #e0e0e0;
}

.portfolio-item {
}

.portfolio-photo {
}

.portfolio-name {
  margin: 30px 0;
}

.portfolio-text {
  margin-bottom: 47px;
}

.portfolio-number {
  color: var(--accent-color);
}

.portfolio-link {
}

/**    Project section    */

.project {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: #f6f6f8;
}

.container-project {
}

.project-title {
  text-align: center;
}

.project-text {
  max-width: 730px;
  text-align: center;
  margin: 32px auto 60px;
}

.project-list {
  margin-bottom: 50px;
}

.project-item {
  --carts: 4;
}

.project-photo {
}

.project-btn {
  margin: 0 auto;
}

/* Section VIDEO */

.video {
  padding-top: 70px;
  background-image: url(../images/video-background.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}

.video-title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
}

.video-text {
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 70px;
}
.content-video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/video-btn.png);
  width: 970p;
  height: 430px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.video-icon {
  margin-right: 21px;
  width: 60px;
  height: 60px;
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.video-btn {
  color: var(--secondary-text-color);
  border: 1px solid var(--secondary-text-color);
  border-radius: 50px;
  background-color: transparent;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video .container {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 85px;
}

/* footer */
.footer{
  background: #F6F6F8;
padding-top: 70px;
padding-bottom: 30px;

}



/* modal window*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 250ms linear 200ms, visibility 250ms linear 200ms;
/*   
  width: 100%;
  height: 100%; */
  
  background-color: rgba(153, 153, 153, 0.5)  ;



}
.modal {
background-color: aquamarine;
width: 500px;
min-height: 500px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1) rotate(360deg);
position: absolute;
padding: 20px;
transition: transform 1s;

}

.modal-btn{
position: absolute;
top: 15px;
right: 15px;

}
.is-hidden  {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

}
.overlay.is-hidden .modal {
  transform: translate(0) scale(0);
}

/* /modal window*/