:root {
  --primary-text-color: #999999;
  --primary-title-color: #000000;
  --secondary-title-color: #ffffff;
  --accent-color: #4985ff;
  --btn-bacground-color: #4985ff;
  --secondary-text-color: #ffffff;
  --background-color: #f6f6f8;
}
body {
  font-family: "Montserrat", sans-serif;
}

/* Components */
.sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  color: var(--secondary-title-color);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
/* Section Header */
.header {
  background-color: grey;
}
.header-link {
}

/* Section Hero */
.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  color: var(--secondary-text-color);
  background-color: grey;
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: grey;
}
